---
title: "상/하차지 :: 운송관리"
menu1: "관리"
menu1_id: "Management"
menu2: "상/하차지"
---

<div id="baysDiv"></div>

<script type="text/javascript">
  $(document).ready(function() {
    retriveData('#baysDiv', 'baysTemplate.handlebars', 'bays');
  });
</script>

{{>check-login}}

