---
title: "로그인 :: 운송 관리"
---

<div class="card card-login mx-auto mt-5">
  <div class="card-header">
    로그인
  </div>
  <div class="card-body">
    <form id="loginForm">
      <div class="form-group">
        <label for="inputLicenseNumber">자동차 번호</label>
        <input type="text" class="form-control" id="inputLicenseNumber" aria-describedby="License Number Help" placeholder="Enter license number">
      </div>
      <div class="form-group">
        <label for="inputCellularPhone">핸드폰 번호</label>
        <input type="tel" class="form-control" id="inputCellularPhone" aria-describedby="cellularPhoneHelp" placeholder="Enter cellular phone number">
      </div>
      <div class="form-group">
        <label for="inputPassword">비밀번호</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            비밀번호 기억
          </label>
        </div>
      </div>
      <a class="btn btn-primary btn-block" id="loginButton">로그인</a>
    </form>
    <div class="text-center">
      <a class="d-block small mt-3" href="register.html">가입하기</a>
      <a class="d-block small" href="forgot-password.html">비밀번호 찾기?</a>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#loginButton").click(function() {
      $.ajax({
        type: 'POST',
        url: 'http://transport-api.frag.kr/auth/login',
        data: {
          "license_number": $('#inputLicenseNumber').val(),
          "cellular_phone": $('#inputCellularPhone').val(),
          "password": $('#inputPassword').val()
        },
        async: false,
        success: function(response, textStatus, xhr) {
          if (xhr.status == 200) {
            var token = response.auth_token;
            localStorage.setItem('token', token);

            $(location).prop('href', 'index.html')
          }
        }
      });
    });
  });
</script>

