<!DOCTYPE html>
<html lang="ko">
  <head>
    {{>meta}}

    <title>{{title}}</title>

    {{>stylesheet}}
  </head>

  <body class="bg-dark">

    <div class="container">

      {{>body}}

    </div>

    {{>scripts}}
  </body>
</html>

